.createNewPassContainer {
  display: flex;
  flex-direction: column;

  width: 42rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem 1.81rem;
}

.header {
  margin-bottom: 27px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;

  .info {
    padding-top: 1.9rem;
    padding-bottom: 4.1rem;
    line-height: 25px;
    color: var(--color-dark-100);
  }

  .button {
    margin-bottom: 6rem;
  }
}
