.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  margin: 4px;
  padding: 6px 28px;

  font-family: inherit;
  color: inherit;

  &:focus-visible {
    outline: 2px solid var(--color-info-500);
  }
}

.primary {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-accent-500);
  border-radius: 4px;

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
    outline-color: var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  background-color: var(--color-dark-300);
  border-radius: 4px;

  &:active {
    background-color: var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-dark-300);
    outline-color: var(--color-info-700);
  }

  &:disabled {
    cursor: default;
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.fullWidth {
  width: 100%;
  text-align: center;
}

.buttonBody {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 10px;
  align-items: center;
}
