.headerBody {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 6rem;
  padding: 0 13.6rem;

  background-color: var(--color-dark-700);
}

.headerLogo {
  width: 30.48rem;
  height: 3.6rem;
}

.headerProfile {
  display: flex;
  align-items: center;
}

.profileName {
  margin-right: 14px;
  font-weight: var(--font-weight-bold);
  border-bottom: 2px dashed var(--color-light-100);
}

.profileIcon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.userProfile {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  align-items: center;
}

.userName {
  cursor: pointer;
  border-bottom: 2px dashed var(--color-light-100);
}

.button {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;
}
