.forgotPassContainer {
  display: flex;
  flex-direction: column;

  width: 42rem;
  margin: 2.25rem auto 0;
  padding: 3.3rem 3.6rem;
}

.header {
  margin-bottom: 5.1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;

  .info {
    padding: 1.9rem 0 6.5rem;
    line-height: 25px;
    color: var(--color-dark-100);
  }

  .rememberPass {
    cursor: pointer;
    align-self: center;
    color: var(--color-dark-100);
  }

  .loggingIn {
    cursor: pointer;
    align-self: center;
    font-size: var(--font-size-m);
    color: var(--color-accent-500);
  }
}
